@model IEnumerable<MediClinic.Models.Chemist>

@{
    ViewData["Title"] = "Chemist Management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="admin-card">
    <div class="table-header">
        <h4 class="page-title"> Chemist Management</h4>
        <a asp-action="CreateChemist" class="btn btn-create">+ Create New Chemist</a>
    </div>
</div>

<div class="table-responsive">
    <table class="admin-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ChemistName</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    
                    <td>
                        <a class="btn btn-edit" asp-action="EditChemist" asp-route-id="@item.ChemistId">Edit</a>
                        <a class="btn btn-details" asp-action="ChemistGetDetailsById" asp-route-id="@item.ChemistId">Details</a>
                        <a class="btn btn-delete" asp-action="DeleteChemist" asp-route-id="@item.ChemistId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
